
{% extends "!layout.html" %}
{% block extrahead %}

{{ super() }}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-L2BLJFRN8Q"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-L2BLJFRN8Q');
</script>

<!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1054288095710437');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1054288095710437&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code -->

<!-- Add Font Awesome for social media icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
   
{% endblock %}


...
{% block footer %}

<div class="social-share"> Sdílejte na sociálních sítích </div>

  <div class="social-share">
    <a href="https://www.facebook.com/sharer/sharer.php?u=www.sest-spolecniku.cz" class="facebook" target="_blank">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://twitter.com/intent/tweet?url=www.sest-spolecniku.cz&text=Čtěte" class="twitter" target="_blank">
        <i class="fab fa-twitter"></i>
    </a>
    <!-- <a href="https://www.linkedin.com/shareArticle?mini=true&url=YOUR_PAGE_URL&title=YOUR_TITLE&summary=YOUR_SUMMARY&source=YOUR_SOURCE" class="linkedin" target="_blank">
        <i class="fab fa-linkedin-in"></i>
    </a>
    <a href="https://www.reddit.com/submit?url=YOUR_PAGE_URL&title=YOUR_TITLE" class="reddit" target="_blank">
        <i class="fab fa-reddit-alien"></i>
    </a>
    <a href="https://www.tumblr.com/widgets/share/tool?canonicalUrl=YOUR_PAGE_URL&title=YOUR_TITLE&caption=YOUR_CAPTION" class="tumblr" target="_blank">
        <i class="fab fa-tumblr"></i>
    </a>
    <a href="https://pinterest.com/pin/create/button/?url=YOUR_PAGE_URL&media=YOUR_IMAGE_URL&description=YOUR_DESCRIPTION" class="pinterest" target="_blank">
        <i class="fab fa-pinterest-p"></i>
    </a> -->
</div>

{% endblock %}
  ...


