p {
	font-size: large;
	max-width: 40rem;
	text-align: justify;
}

.social-share {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.social-share a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	font-size: 24px;
	color: #fff;
	margin: 0 10px;
	text-decoration: none;
	border-radius: 50%;
	transition: opacity 0.3s;
}
.social-share a:hover {
	opacity: 0.7;
}
.facebook { background: #3b5998; }
.twitter { background: #55acee; }
.linkedin { background: #0077b5; }
.reddit { background: #FF4500; }
.tumblr { background: #35465C; }
.pinterest { background: #cb2027; }